:root {
  --primary :#3b3b38;
  --secondary :#10fcc2;
}
@font-face {
    font-family: 'poppins_bold';
    src: url('/support/fonts/Poppins-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'ostwald';
    src: url('/support/fonts/oswald.ttf') format('truetype');
  }
  @font-face {
    font-family: 'poppins_light';
    src: url('/support/fonts/Poppins-Light.ttf') format('truetype');
  }
  body {
    margin: 0;
    padding: 0;
  }
#bigboi {
    height: 90vh;
    width: 100%;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    font-family: poppins_bold;
    font-size: 10vw;
    z-index: 1;
}
#bigboi h1{
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 100%;
}
#lilboi {
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
  height: 10vh;
  position: relative;
  font-family: ostwald;
  font-size: 5.5vw;
}
#lilboi h5{
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 100%;
}
.typed-cursor {
  display: none;
}
.hamburger {
  margin: 0;
  padding: 0;
  display: inherit;
  position: absolute;
  width: 10vw;
  height: 5vh;
  z-index: 100;
}
.line {
  width: 25px;
  height: 3px;
  position: relative;
  top: 2.5vh;
  left: 0.25em;
  background-color: var(--secondary);
  z-index: 100;
  transition: all 0.5s ease-in-out;
}
.line:last-child{
  margin-top: 5px;
}
.me {
  height: 5vh;
  width: 5vh;
  float: right;
  border-radius: 50%;
  position: relative;
  margin: 0;
  padding: 0;
  top: 1vh;
  right: 1vh;
  background-image: url("/support/images/star__thumb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}
.me:hover{
  box-shadow: 0px 0px 10px 1px var(--secondary);
}
.line.rot {
  transform: rotate(90deg);
  top: 3.9vh;
  transition: all 0.5s ease-in-out;
}
/* menu */

.sub-menu {
    position: fixed;
    height: 100vh;
    z-index: 12;
    background-color: rgba(31, 30, 29, 0.842);
    /* display: flex; */
    right: 100vw;
    width: 0;
    text-align: center;
    border-radius: 1%;
    display: block;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    color: white;
    border-radius: 2% 0 0 2%;
    margin: 0;
}
.sub-menu li {
  display: none;
  height: 56px;
  text-transform: capitalize;
  font-family: lobster;
  line-height: 56px;
  color: var(--secondary);
  transition: all 0.5s ease-in-out;
}
.sub-menu.oper {
    right: 50vw;
    width: 50vw;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 11px 0px 20px 3px var(--primary);
}
.sub-menu.oper li{
  display: block;
  transition: all 0.5s ease-in-out;
}
.sub-menu.oper li:hover{
  background-color: var(--secondary);
  color: var(--primary);
  transition: all 0.1s cubic-bezier(1,1,1,1);
}
.sub-menu.oper a{
  width: inherit;
  height: inherit;
  list-style: none;
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 5vw;
  font-family: poppins_light;
}
.sub-menu.oper li:first-child{
  margin-top: 10vh;
}
/* end of menu */

/* about menu */

.about {
  position: fixed;
  height: 100vh;
  z-index: 12;
  background-color: rgba(59, 59, 56, 0.92);
  /* display: flex; */
  left: 100vw;
  width: 0;
  text-align: center;
  display: block;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  color: white;
  margin: 0;
}
.about li {
display: none;
height: 56px;
text-transform: capitalize;
line-height: 56px;
color: var(--secondary);
transition: all 0.5s ease-in-out;
}
.about.oper {
  left: 50vw;
  width: 50vw;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  box-shadow: inset 11px 0px 20px 3px var(--primary);
}
.about.oper li{
display: inline;
transition: all 0.5s ease-in-out;
}
.sub-menu.oper li:hover{
background-color: var(--secondary);
color: var(--primary);
transition: all 0.1s cubic-bezier(1,1,1,1);
}
.about.oper a{
width: inherit;
height: inherit;
list-style: none;
display: inline;
text-decoration: none;
color: inherit;
font-size: 5vw;
font-family: poppins_light;
text-align: center;
}
.about.oper li:first-child{
margin-top: 10vh;
}
/* end of about */
.image_slider {
  width: 100%;
  height: 35vh;
  display: block;
  background-image: url("/support/images/1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  transition: all 0.3s ease-in-out;
}
.image_slider.one{
  background-image: url("/support/images/uno.jpg");
  transition: all 0.3s ease-in-out;
}
.image_slider.two{
  background-image: url("/support/images/star.jpg");
  transition: all 0.3s ease-in-out;
}
.image_slider.three{
  background-image: url("/support/images/thres.jpg");
  transition: all 0.3s ease-in-out;
}
.image_slider.four{
  background-image: url("/support/images/dos.jpg");
  transition: all 0.3s ease-in-out;
}
#info {
  font-size: 2vw;
  font-family: poppins_light;
}
#bio {
  font-size: 1.8vw;
  font-family: poppins_light;

}
#media a{
  margin: 0;
  padding: 0;
  font-size: 5vw;
}
@media only screen and (min-width: 756px) {
    #bigboi {
    font-size: 5vw;
    }
    #lilboi {
      font-size: 3.5vw;
    }
    .sub-menu.oper{
      width: 36vw;
      right: 63vw;
    }
    .sub-menu.oper a{
      font-size: 2.3vw;
    }
    .about.oper{
      width: 36vw;
      left: 63vw;
    }
    #bio {
      font-size: 1.3vw;
      font-family: poppins_light;
    
    }
}